{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<table class="sortable table table-condensed table-striped">
<thead><tr>
{% for header in data['head'] %}
<th class = "left">{{ header }}</th>
{% endfor %}
</tr></thead>
<tbody>
{% for i in data['commands'] %}
<tr>
    <td align="left">{{ i['name'] }}</td>
    <td align="left">{{ i['helpText'] }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
