{% extends "base.html" %}{% block content %}
{% include "nav.html" %}
<div class="container">
<div class="header">

	{% if data['quote'] %}
    <center>
    <h3><font color="red">Quote of the Day:</font></h3>
        {{ data['quote']['quote'] }}
    </center>
    {% else %}
    {% endif %}

<div class="orders">
        <p><h3><font color="red">Orders:</font></h3>
		{% if data['orders'] %}
			{% for i in data['orders'] %}
			{{ i['order'] }} <font color="orange">Added on:</font> {{ i['addedUtoTime'] }} <font color="orange">By:</font> {{ i['addedBy'] }}<br>
			{% endfor %}</p>
</div>
	 {%else %}
		No Orders... STAY POISED
	 {% endif %}
<p><h3><font color="red">Events:</font></h3>
		{% if data['events'] %}
			{% for i in data['events'] %}
			{{ i['description'] }} <font color="orange">Scheduled for:</font> {{ i['eventUtoTime'] }}<br>
			{% endfor %}</p>
	 {%else %}
		No Upcoming Events
	 {% endif %}
<p><h3><font color="red">Aid Requests:</font></h3>
		{% if data['aid'] %}
			{% for i in data['aid'] %}
			{{ '{0:,}'.format(i['amount']) }} {{ i['type'] }}<font color="orange"> Requested by:</font> {{ i['province']['name'] }}<br>
			{% endfor %}</p>
	 {%else %}
		No Aid Requests<br>
	 {% endif %}
<br>
{% if data['user'] %}
<h4><small>Logged in as:</small> {{ data['user']['name'] }}</h4>{% else %}{% endif %}
</div>
<div class="jumbotron">
<h3>Add Attacks/Intel/Ops <small>Last: <font color="white">{{ s['intel'] }}</font></small> </h3>
<small>Current Spells/Ops Target: {{ data['spellop_target']['target']['name'] }}</small>
<form action="/addintel" method="post">
<textarea class="form-control" rows="3" name='intel'></textarea>
<center><button value="submit" type="submit" class="btn btn-success"><i class="fa fa-upload fa-2x"></i></button></center>
</form> 
</div>
<div class="row marketing">
<div class="col-lg-6">
{% if data['links'] %}
<h4>Links</h4><p>{% for i in data['links'] %}
<a href='{{ i['url'] }}'>{{ i['name'] }}</a><br>{% endfor %}</p>
</div>{% else %}{% endif %}
</div><br>
<div class="footer"><p class='text-center text-muted'><small>HAL v.4.10</small></p></div>
</div>{% endblock %}
