{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
	  <form action="" method= "post" role="form" class="form-inline">
  <a href="/news/{{ data['kid'] }}"><button type="button" class="btn btn-info navbar-btn"><b>News</b></button></a>
    <button type="submit" name="pin" value="pin" class="btn btn-success navbar-btn"><b>Pin KD To Navbar</b></button>
      </form>
<div class="panel panel-default">
  <!-- Table -->
<table class="sortable table table-condensed table-striped">
<thead><tr><th>Province</th> <th>T M S Su I</th><th>Ops</th>
{% for header, config in data['head'].iteritems() %}
{% if config[1] == 'checked' %}<th class = "right">{{ header }}</th>{% else %}{% endif %}
{% endfor %}
</tr></thead>
<tbody>
{% for i in data['provinces'] %}
<tr>
<td class = "datatable" align="left">{% if i['Honor'] %}<small>{{ i['Honor'] }}</small>{% else %}{% endif %} <a href="/intel/{{ i['id'] }}">{{ i['name'] }}  {{ i['kingdom']['location'] }}</a>
{% if i['Army'] %}
&nbsp;
{% for i in i['Army'] %}
{% if loop.index < 4 %}
<a href="#" data-toggle="tooltip" title="Army returning in {{ i }}"><font color='#FF001D'> <i class="fa fa-users"></i></font></a>
{% else %}{% endif %}
{% endfor %}

{% else %}{% endif %}
</td>
<div id="pop-intelage-{{loop.index}}" class="popbox">
	<p><i class="fa fa-square" style="color: {{data['intel'][i['Name']]['sot'][0]}};"></i> SOT: {{ data['intel'][i['name']]['sot'][1] }}</p>
	<p><i class="fa fa-square" style="color: {{data['intel'][i['Name']]['som'][0]}};"></i> SOM: {{ data['intel'][i['name']]['som'][1] }}</p>
	<p><i class="fa fa-square" style="color: {{data['intel'][i['Name']]['sos'][0]}};"></i> SOS: {{ data['intel'][i['name']]['sos'][1] }}</p>
	<p><i class="fa fa-square" style="color: {{data['intel'][i['Name']]['survey'][0]}};"></i> Survey: {{ data['intel'][i['name']]['survey'][1] }}</p>
	<p><i class="fa fa-square" style="color: {{data['intel'][i['Name']]['infil'][0]}};"></i> Infil: {{ data['intel'][i['name']]['infil'][1] }}</p>
</div>
<td style="min-width:58px" class="popper" data-popbox="pop-intelage-{{loop.index}}"
	sorttable_customkey="{% if data['intel'][i['Name']]['sot'][1] == 'Never' %}999{% else %}{{data['intel'][i['Name']]['sot'][1].split()[0]|int}}{% endif %}">
	<a href="#" data-toggle="tooltip" title="{{ data['intel'][i['name']]['sot'][1] }}"><i class="fa fa-square" style="color: {{data['intel'][i['Name']]['sot'][0]}};"></i></a>
	<a href="#" data-toggle="tooltip" title="{{ data['intel'][i['name']]['som'][1] }}"><i class="fa fa-square" style="color: {{data['intel'][i['Name']]['som'][0]}};"></i></a>
	<a href="#" data-toggle="tooltip" title="{{ data['intel'][i['name']]['sos'][1] }}"><i class="fa fa-square" style="color: {{data['intel'][i['Name']]['sos'][0]}};"></i></a>
	<a href="#" data-toggle="tooltip" title="{{ data['intel'][i['name']]['survey'][1] }}"><i class="fa fa-square" style="color: {{data['intel'][i['Name']]['survey'][0]}};"></i></a>
	<a href="#" data-toggle="tooltip" title="{{ data['intel'][i['name']]['infil'][1] }}"><i class="fa fa-square" style="color: {{data['intel'][i['Name']]['infil'][0]}};"></i></a>
</td>
<div id="pop-{{loop.index}}" class="popbox">
	{% for name, values in i['spellops'].iteritems() %}
	<p><i class="fa fa-square" style="color: {{ values['color'] }}"></i> {{ name }} {{ values['left']|round(2) }} Hrs</p>
	{% endfor %}
	{% if i['spellops']|length == 0 %}
	<p> No Spells or Ops</p>
	{% endif %}
</div>
<td style="min-width:58px" class="popper" data-popbox="pop-{{loop.index}}">
    {% for x in data['spellops_header'] %}
	{% if i['spellops'][x[0]] %}
	{% set time = i['spellops'][x[0]]['left']|round|int %}
	{% else %}
	{% set time = 0 %}
	{% endif %}
	<div class="op"><div class="bar" style="background-color:{{ x[1] }};height:{% if time * 1.5 > 20 %}20{% else %}{{ time * 1.5 }}{% endif %}px"></div></div>
    {% endfor %}
</td>
<div id="pop-army-{{loop.index}}" class="popbox">
    {% for army in i['Armies'] %}
    <p>Army: {{ army['armyNumber'] }} | Return: {{ army['left'] }} Hrs | Land: {{ army['gain'] }} | Ambush: {{ army['ambush'] }}</p>
    {% endfor %}
    {% if not i['Armies'] %}
    <p> No Armies Away</p>
    {% endif %}
</div>
{% set outerloop = loop %}
{% for header, config in data['head'].iteritems() %}
{% if config[1] == 'checked' %}
    {% if header == 'Armies' %}
        <td class="popper" data-popbox="pop-army-{{ outerloop.index }}" align="right">{{ i['Soonest Army'] }}</td>
    {% else %}
    {% if header in data['pa'] and i['land'] != 0 %}
                <td align="right" sorttable_customkey="{{ i[header] }}">{{ i[header] }}<font color='grey'><small> {{ "{:.1f}".format(i[header]|replace(",", "")|int / i['land']) }} pa</small></font></td>
    {% else %}
                <td align="right">{{ i[header] }}</td>
    {% endif %}
    {% endif %}
{% endif %}
{% endfor %}
</tr>
{% endfor %}
</tbody>
<tfoot>
<tr><th>Totals:</th><th></th><th></th>
{% for n in data['head'] %}
{% if data['head'][n][1] == 'checked' %}<td align="right">{% if data['totals'][n] %}{{ data['totals'][n] }}</td>{% else %}{% endif %}
{% else %}{% endif %}
{% endfor %}
</tr>
</tfoot>

</table>


<div class="panel-footer">
	  <center>
	  <form action="" method="post">
			{% for x in data['head'] %}
	  		<input name="{{ x }}" value="{{ data['head'][x][0] }}" {{ data['head'][x][1] }} type="checkbox">{{ x }}
			{% endfor %}
		</br><button type="submit" name="submit" value="submit" class="btn btn-info btn-xs"><i class="fa fa-refresh fa-2x"></i></button>
	  		</form>
		<form action="" method="post">
		</br><button type="submit" name="reset" value="reset" class="btn btn-warning btn-xs"><i class="fa fa-refresh fa-2x"></i><b>Default View</b></button>
	  		</form>
		</center>
</div>
</div>
{% endblock %}
