<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><font color="white"><i class="fa fa-flask"></i>HAL</font></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
		{% if data['Type'] == 'Kingdom' %}
      <li class="active"><a href="/kd/{{ data['kid'] }}"><font color="white"><i class="fa fa-users"></i>&nbsp;<b>{{ data['name'] }} <small>{{ data['loc'] }}</small></b>
	  {% if data['Dragon'] %}
	  <span class="label label-info">{{ data['Dragon'] }}</span>
	   {% else %}
	   {% endif %}
	  </font></a></li>
	  {% elif data['Type'] == 'Province' %}
	   <li class="active"><a href="/intel/{{ data['pid'] }}"><font color="white"><i class="fa fa-user"></i>&nbsp;<b>{{ data['p']['name'] }} <small>{{ data['p']['kingdom']['location'] }}</small></b></font></a></li>
	  {% else %}
	  <li></li>
	   {% endif %}
    </ul>
    <form class="navbar-form navbar-left" role="search" action="/search" method="post">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Province, Kingdom.." name="search" >
      </div>
      <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
      <a href="/intel/recent"><button type="button" class="btn btn-info navbar-btn"><b>Recent Intel</b></button></a>
      <a href="/ops_history"><button type="button" class="btn btn-info navbar-btn"><b>Ops History</b></button></a>
      <a href="/records"><button type="button" class="btn btn-info navbar-btn"><b>Records</b></button></a>
      <a href="/users"><button type="button" class="btn btn-info navbar-btn"><b>Users</b></button></a>

    </form>
	<ul class="nav navbar-nav navbar-right">
	<a href="/kd/{{data['kdl'][0]}}"><button type="button" class="btn btn-info navbar-btn"><i class="fa fa-home"></i>&nbsp;<b>{{data['kdl'][1]}}</b></button></a>
    {% if data['kdp'] %}
        <a href="/kd/{{data['kdp'][0]}}"><button type="button" class="btn btn-success navbar-btn"></i>&nbsp;<b>{{data['kdp'][1]}}</b></button></a>
    {% endif %}
	{% if data['kdb'] %}
	{% for i in data['kdb'] %}
      {% if loop.index < 5 %}
	<a href="/kd/{{i[0]}}"><button type="button" class="btn btn-warning navbar-btn"><b>{{i[1]}}</b></button></a>
      {% else %}{% endif %}
	{% endfor %}
	{% else %}{% endif %}
	&nbsp;&nbsp;
	</ul>

  </div><!-- /.navbar-collapse -->
</nav>
