{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<div class="panel panel-default">
  <!-- Table -->
<table class="sortable table table-condensed table-striped">
<thead><tr><th>News</th></tr></thead>
    <tbody>
    {% for i in data['news'] %}
    <tr>
    <td class = "datatable" align="left">{{ i['originalMessage'] }}
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
