{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<li><a href='/kd/{{ data['kid'] }}'><button type="button" class="btn btn-info">Spell/Ops Result Page</button></a></li>
<table class="sortable table table-condensed table-striped">

        <thead>
          <tr>
{% for i in data['head'] %}
            <th class = "right">{{ i }}</th>
{% endfor %}
          </tr>
        </thead>
		<tbody> 
			{% for i in data['data'] %}
			<tr>
			<td>{% if i['province']['honorTitle'] %}<small>{{ i['province']['honorTitle']['name'] }}</small>{% else %}{% endif %} <a href='/intel/{{ i['province']['id'] }}'>{{ i['province']['name'] }}</a> </td>
		
			<td>{{ i['province']['race']['name'] }} </td>
			{% if i['province']['personality'] %}
			<td>{{ i['province']['personality']['name'] }}</td>
			{% else %}
			<td></td>
			{% endif %}
			<td>{{ i['province']['land'] }}</td>
			<td>{{ i['province']['networth'] }}</td>
			{% for n in data['head'] %}
			{% if data['head'][n][1] == 'checked' %}<td align="right">{{ i[n] }}</td>{% else %}{% endif %}
			{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
<tr><th>Totals:</th><th></th><th></th>
{% for n in data['head'] %}
{% if data['head'][n][1] == 'checked' %}<td align="right">{% if data['totals'][n] %}{{ data['totals'][n] }}</td>{% else %}{% endif %}
{% else %}{% endif %}
{% endfor %}
</tr>
</tfoot>

</table>

<div class="panel-footer">
	  <center>
	  <form action="" method="post">
			{% for x in data['head'] %}
	  		<input name="{{ x }}" value="{{ data['head'][x][0] }}" {{ data['head'][x][1] }} type="checkbox">{{ x }}
			{% endfor %}
		</br><button type="submit" name="submit" value="submit" class="btn btn-info btn-xs"><i class="fa fa-refresh fa-2x"></i></button>
	  		</form>
		<form action="" method="post">
		</br><button type="submit" name="reset" value="reset" class="btn btn-warning btn-xs"><i class="fa fa-refresh fa-2x"></i><b>Default View</b></button>
	  		</form>
		</center>
</div>
{% endblock %}
