{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<div class="panel panel-header">
	  <center>
	  <form action="" method="post" role="form" class="form-inline">
        <b>KD: </b><select name='kd' id='kd'><option value='{% if data['kd'] is defined %}{{ data['kd'] }}{% endif %}'>{% if data['kd'] is defined %}{{ data['kd'] }}{% else %}{% endif %}</option>
            {% for kd in data['kingdom_list'] %}
            <option value='{{ kd }}'>{{ kd }}</option>
            {% endfor %}
        </select>
        <b>Province: </b><select name='prov' id='prov'><option value='{% if data['prov'] is defined %}{{ data['prov'] }}{% endif %}'>{% if data['prov'] is defined %}{{ data['prov'] }}{% else %}{% endif %}</option>
            {% for prov in data['province_list'] %}
            <option value='{{ prov }}'>{{ prov }}</option>
            {% endfor %}
        </select>
        <b>Op Type: </b><select name='type' id='type'><option value='{% if data['type'] is defined %}{{ data['type'] }}{% endif %}'>{% if data['type'] is defined %}{{ data['type'] }}{% else %}{% endif %}</option>
            {% for type in data['op_list'] %}
            <option value='{{ type }}'>{{ type }}</option>
            {% endfor %}
        </select>
        <b>User: </b><select name='user' id='user'><option value='{% if data['user'] is defined %}{{ data['user'] }}{% endif %}'>{% if data['user'] is defined %}{{ data['user'] }}{% else %}{% endif %}</option>
            {% for user in data['user_list'] %}
            <option value='{{ user }}'>{{ user }}</option>
            {% endfor %}
        </select>
        <b>Time Filter: </b>
              <div class="form-group">
                <input type="text" class="form-control" value=96 name="time" style="width: 100px" >
              </div>
		<button type="submit" name="submit" value="submit" class="btn btn-info btn-xs"><i class="fa fa-refresh fa-2x"></i><b>Submit</b></button>
		<button type="submit" name="reset" value="reset" class="btn btn-warning btn-xs"><i class="fa fa-refresh fa-2x"></i><b>Default View</b></button>
	  		</form>
		</center>
</div>
<div class="panel panel-default">
<table class="sortable table table-condensed table-striped">
<thead><tr>
{% for header in data['head'] %}
<th class = "right">{{ header }}</th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for i in data['data'] %}
<tr>
<td align="right">{{ i['province']['name'] }}</td>
<td align="right">{{ i['type']['name'] }}</td>
    {%  if  i['damage'] is defined %}
<td align="right">{{ "{:,}".format(i['damage']) }}</td>
    {% else %}
    <td></td>
    {% endif %}
<td align="right">{{ "{:,}".format(i['amount']) }}</td>
    {% if i['committer'] is defined %}
<td align="right">{{ i['committer']['name'] }}</td>
    {% else %}
<td align="right">{{ i['caster']['name'] }}</td>
    {% endif %}
<td align="right" sorttable_customkey="{{ i['lastUpdated'] }}">{{ i['utoLastUpdated'] }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
