{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<div class="row">
<div class="col-lg-6">
  {% if data['t'] %}
  <h4>Throne <small><span class="label label-{{ data['updated']['sot'][0] }}"><i class="fa fa-clock-o"></i> {{ data['updated']['sot'][1] }}</span></small></h4>
  
  <table class="table table-condensed table-striped">
  <tr>
  <td><b>Type</b></td>
  <td>{{ data['p']['race']['name'] }} <b>/ </b>{{ data['p']['personality']['name'] }}</td>
  </tr>
  <tr>
  <td><b>Networth</b></td>
  {% set NWPA = data['p']['networth']/data['p']['land'] %}
  <td>{{ data['p']['networth'] }} <small> <b>[ {{'%0.0f' % NWPA|float }}nwpa ]</b></small></td>
  </tr>
  <tr>
  <td><b>Acres</b></td>
  <td>{{ data['p']['land'] }}</td>
  </tr>
  <tr>
  <td><b>BE</b></td>
  <td>{{ data['t']['buildingEfficiency'] }} <small>%</small></td>
  </tr>
  <tr>
  <td><b>Gold</b></td>
  <td>{{ data['t']['money'] }}</td>
  </tr>
  <tr>
  <td><b>Food</b></td>
  <td>{{ data['t']['food'] }}</td>
  </tr>
  <tr>
  <td><b>Runes</b></td>
  <td>{{ data['t']['runes'] }}</td>
  </tr>
  <tr>
  <td><b>Peasants</b></td>
  {% set PPA = data['t']['peasants']/data['p']['land'] %}
  <td>{{ data['t']['peasants'] }} <small> <b>[ {{'%0.0f' % PPA|float }}ppa ]</b></small></td>
  </tr>
  <tr>
  <td><b>Trade Balance</b></td>
  <td>{{ data['t']['tradeBalance'] }}</td>
  </tr>
  <td><b>Soldiers</b></td>
  <td>{{ data['t']['soldiers'] }}</td>
  </tr>
  <tr>
  <td><b>Off Specs</b></td>
  {% set OPA = data['t']['offSpecs']/data['p']['land'] %}
  <td>{{ data['t']['offSpecs'] }} <small> <b>[ {{'%0.0f' % OPA|float }}opa ]</b></small></td>
  </tr>
  <tr>
  <td><b>Def Specs</b></td>
  {% set DPA = data['t']['defSpecs']/data['p']['land'] %}
  <td>{{ data['t']['defSpecs'] }} <small> <b>[ {{'%0.0f' % DPA|float }}dpa ]</b></small></td>
  </tr>
  <tr>
  <td><b>Elites</b></td>
  {% set EPA = data['t']['elites']/data['p']['land'] %}
  <td>{{ data['t']['elites'] }} <small> <b>[ {{'%0.0f' % EPA|float }}epa ]</b></small></td>
  </tr>
  <tr>
  <td><b>War Horses</b></td>
  <td>{{ data['t']['warHorses'] }}</td>
  </tr>
  <tr>
  <td><b>Mod Offense</b></td>
  {% set MOPA = data['t']['modOffense']/data['p']['land'] %}
  <td>{{ data['t']['modOffense'] }} <small> <b>[ {{'%0.0f' % MOPA|float }}mopa ]</b></small></td>
  </tr>
  <tr>
  <td><b>Mod Defense</b></td>
  {% set MDPA = data['t']['modDefense']/data['p']['land'] %}
  <td>{{ data['t']['modDefense'] }} <small> <b>[ {{'%0.0f' % MDPA|float }}mdpa ]</b></small></td>
  </tr>
  </table>
  
{% else %}
{% endif %}

{% if data['m'] %}
  <h4>Military <small><span class="label label-{{ data['updated']['som'][0] }}"><i class="fa fa-clock-o"></i> {{ data['updated']['som'][1] }}</span></small></h4>
  <table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Home</th>
    </tr>
  </thead>
          <tbody>
                  <tr>
                          <td>Offense</td>
                          <td>{{ data['p']['estimatedCurrentOffense'] }}</td>
                  </tr>
                  <tr>
                          <td>Defense</td>
                          <td>{{ data['p']['estimatedCurrentDefense'] }}</td>
                  </tr>
          </tbody>
          </table>
{% else %}
{% endif %}
</div>

<div class="col-lg-6">
    {% if data['s'] %}
      <h4>Science <small><span class="label label-{{ data['updated']['sos'][0] }}"><i class="fa fa-clock-o"></i> {{ data['updated']['sos'][1] }}</span></small></h4>
      <table class="table table-condensed table-striped">
          {% for i in data['s']['entries'] %}
      <tr>
      <td><b>{{ i['scienceType']['name'] }}</b></td>
      <td>{{ i['books'] }} <small>{{ i['effect'] }}%</small>
    {% if i['booksInProgress'] %}
        <font color='grey'>+ {{ i['booksInProgress'] }}</font></td>
    {% else %}
    {% endif %}
      </tr>
      {% endfor %}
      <tr>
      <td><b>Total</b></td>
      <td><b>{{ data['s']['books'] }}
    {% if data['p']['land'] %}
    {% set BPA = data['s']['books']/data['p']['land'] %}
    <small>{{'%0.0f' % BPA|float}} bpa</small>
    {% else %}
    {% endif %}
      </b></td>
    </tr>
    </table>

    {% else %}
    {% endif %}
	{% if data['su'] %}
	  <h4>Survey <small><span class="label label-{{ data['updated']['su'][0] }}"><i class="fa fa-clock-o"></i> {{ data['updated']['su'][1] }}</span></small></h4>
	  <table class="table table-condensed table-striped">
		  {% for i in data['su']['entries'] %}
	  <tr>
	  <td><b>{{ i['building']['name'] }}</b></td>
	  {% if i['built'] %}
	  <td>{{ i['built'] }}{% set bupa = i['built']/data['su']['total']*100 %} <small>{{'%0.1f' % bupa|float}}%</small>{% if i['inProgress'] %} {% set ippa = i['inProgress']/data['su']['total']*100 %} <font color='grey'>+{{ i['inProgress'] }} <small>{{'%0.1f' % ippa|float}}%</small></font>{% else %}{% endif %}</td>
	  {% else %}
	  <td>0 {% if i['inProgress'] %} {% set ippa = i['inProgress']/data['su']['total']*100 %} <font color='grey'>+{{ i['inProgress'] }}{% set ippa = i['inProgress']/data['su']['total']*100 %} <small>{{'%0.1f' % ippa|float}}%</small></font>{% else %}{% endif %}</td>
	  {% endif %}
	  </tr>
	  {% endfor %}
	</table>
  
	{% else %}
	{% endif %}
</div>


</div>


{% endblock %}