{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<div class="row">
{% for op_type, record in data['ops'].iteritems() %}
<div class="col-lg-6">
  <h4>{{ op_type }}</h4>
  <table class="table table-condensed table-striped">
  {% for user, record in data['ops'][op_type].iteritems() %}
  <tr>
  <td><b>{{ user }}</b></td>
  <td><b>{{ record['damage'] }}</b> damage over <b>{{ record['tries'] }} tries</b></td>
  </tr>
  </table>
  {% endfor %}
</div>
{% endfor %}



<div class="col-lg-6">
    {% if data['spells'] %}
      <h4>Spells <small><span class="label label-{{ data['updated']['sos'][0] }}"><i class="fa fa-clock-o"></i> {{ data['updated']['sos'][1] }}</span></small></h4>
      <table class="table table-condensed table-striped">
          {% for i in data['s']['entries'] %}
      <tr>
      <td><b>{{ i['scienceType']['name'] }}</b></td>
      <td>{{ i['books'] }} <small>{{ i['effect'] }}%</small>
    {% if i['booksInProgress'] %}
        <font color='grey'>+ {{ i['booksInProgress'] }}</font></td>
    {% else %}
    {% endif %}
      </tr>
      {% endfor %}
      <tr>
      <td><b>Total</b></td>
      <td><b>{{ data['s']['books'] }}
    {% if data['p']['land'] %}
    {% set BPA = data['s']['books']/data['p']['land'] %}
    <small>{{'%0.0f' % BPA|float}} bpa</small>
    {% else %}
    {% endif %}
      </b></td>
    </tr>
    </table>

    {% else %}
    {% endif %}
	{% if data['su'] %}
	  <h4>Survey <small><span class="label label-{{ data['updated']['su'][0] }}"><i class="fa fa-clock-o"></i> {{ data['updated']['su'][1] }}</span></small></h4>
	  <table class="table table-condensed table-striped">
		  {% for i in data['su']['entries'] %}
	  <tr>
	  <td><b>{{ i['building']['name'] }}</b></td>
	  {% if i['built'] %}
	  <td>{{ i['built'] }}{% set bupa = i['built']/data['su']['built']*100 %} <small>{{'%0.0f' % bupa|float}}%</small>{% if i['inProgress'] %} <font color='grey'>+{{ i['inProgress'] }}</font>{% else %}{% endif %}</td>
	  {% else %}
	  <td>0</td>
	  {% endif %}
	  </tr>
	  {% endfor %}
	</table>

	{% else %}
	{% endif %}
</div>


</div>


{% endblock %}