{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<div class="row">
<div class="col-lg-6">
<table class="sortable table table-condensed table-striped">
      <thead><tr>
  {% for header in data['head'] %}
<th class = "left">{{ header }}</th>
{% endfor %}
</tr></thead>
<tbody>
{% for i in data['records'] %}
<tr>
    <td align="left">{{ i['userName'] }}</td>
    <td align="left">{{ i['recordName'] }}</td>
    <td align="left">{{ "{:,}".format(i['recordValue']|int) }}</td>
    <td align="left">{{ i['allTimeRecord'] }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}