{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<table class="sortable table table-condensed table-striped">
<thead><tr>
{% for header in data['head'] %}
<th class = "right">{{ header }}</th>
{% endfor %}
</tr></thead>
<tbody>
{% for i in data['users'] %}
<tr>
    <td align="right">{{ i['name'] }}</td>
    <td align="right">{{ data['provinces'][i['name']] }}</td>
    <td align="right">{{ i['admin'] }}</td>
    <td align="right">{{ i['timeZone'] }}</td>
    <td align="right">{{ i['realName'] }}</td>
    <td align="right">{{ i['sMSEmailAddress'] }}</td>
{% endfor %}
</tr>
</tbody>
</table>
</div>
{% endblock %}
